<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings/>
  
  <connectionStrings>
    <clear/>
    <add name="bagsConnection" 
         connectionString="Data Source=TASLIMA\TAS01;Initial Catalog=leatherDB;Integrated Security=True" 
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
    
  <system.web>
    <compilation debug="true" 
    optimizeCompilations="true"             
    targetFramework="4.5"/>
    <httpRuntime />
    
  </system.web>
</configuration>

